

<form class="login-form">
  <div>
    <label for="current-email">email:</label>
    <input type="text" id="current-email" />
  </div>
  <div>
    <label for="current-password">password:</label>
    <input type="password" id="current-password" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username">username:</label>
    <input type="text" id="username" />
  </div>
  <div>
    <label for="email">email:</label>
    <input type="text" id="email" />
  </div>
  <div>
    <label for="password">password:</label>
    <input type="password" id="password" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/js/login.js"></script>
