

body{
    background-color: #829460;
}
html {
    scroll-behavior: smooth;
  }
.nav-item{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}
#mainContainer{
    background-color: #C7F2A4;
    
}


.btn {
    display: inline-block;
    padding: 0.5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
  }

 


  #mainContainer{
    border-radius: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #btn{
    background-color: aqua;
    color: black;
  }
  #btn:hover{
    background-color: aquamarine;
    color: gray;
  }

  #result {
    border: 1px dotted #ccc;
    padding: 3px;
    visibility: hidden;
    background-color: aqua;
  }
  #result ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  #result ul li {
    padding: 5px 0;
  }
  #result ul li:hover {
    background: #eee;
  }
  #contactContainer{
    background-color: #AEBDCA;
    border-radius: 40px;
    text-align: center;
  }
  footer, header{
    background-color: #A084CA;
  }
 
  #contactMeBody{
   
   border-radius: 20px;
   border-style: inset;
    
  }